.certificates-cell{
    background-color:#1f1f1f;
    border: 15px solid #1f1f1f;
    border-radius: 8px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 400px;
    height: 66.5rem;
}

.celphone-top {
    background-color: #1f1f1f;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celphone-top i {
    width: 200px;
    height: 5px;
    border-radius: 5px;
    border: none;
    background-color: #FFF;
}

.celphone-bottom {
    width: 100%;
    height: 3.5rem;
    border-top: 10px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.celphone-bottom button {
    width: 45px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #FFF;
    margin-bottom: -10px;
    outline: none;
}

.certificates-cell nav {
    background-color: #FFF;
    height: 50rem;
    overflow: auto;
    padding-left: 3px;
    padding-right: 3px;
}

.certificates-cell header{
    background-color: #FFF;
    padding: 15px;
}

.certificates-cell header h1{
    font-family: Roboto-Bold;
    font-size: 3rem;
}

.certificates-cell header div{
    font-family: Roboto-Bold;
    font-size: 1.2rem;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.certificates-cell header div :first-child {
    margin-right: 5px;
}

.certificates-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #dbdbdb;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.certificates-style img{
    width: 110px;
    height: 110px;
    border-radius: 5px;
    margin-right: 10px;
}

.certificates-style div > p {
    margin-bottom: 5px;
}

.certificates-style div :nth-child(1){
    font-family: Roboto-Bold;
    font-size: 2rem;
}

.certificates-style div :nth-child(2){
    font-family: Roboto-Medium;
    font-size: 1.3rem;
}

.certificates-style div :nth-child(3){
    font-family: Roboto-Medium;
    font-size: 1.3rem;
}

.certificates-style div :nth-child(4){
    font-family: Roboto-Medium;
    font-size: 1.3rem;
}

.certificates-cell ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.certificates-cell ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.certificates-cell ::-webkit-scrollbar-thumb {
  background: #c33adf;
  border:none;
  border-radius: 32px;
}
.certificates-cell ::-webkit-scrollbar-thumb:hover {
  background: #a932b8;
}
.certificates-cell ::-webkit-scrollbar-thumb:active {
  background: #a932b8;
}
.certificates-cell ::-webkit-scrollbar-track {
  background: #ffffff;
  border:none;
  border-radius: 28px;
}
.certificates-cell ::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
.certificates-cell ::-webkit-scrollbar-track:active {
  background: #ffffff;
}