.header-main-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 77rem;
    color: white;
    background-color: rgba(130, 87, 229, 0.6);
}

.header-main-page img{
    width: 100%;
    min-width: 1024px;
    height: 77rem;
    position: fixed;
    z-index: -1;
}

.header-main-page h1, p{
    animation-name: fade;
    animation-duration: 500ms;
}

.header-main-page h1{
    font-size: 7rem;
    font-family: Roboto-Bold;
    border-bottom: 2px solid white;
    display: inline-block;
    line-height: 0.85; 
}

.header-main-page p{
    font-family: Roboto-Regular;
    font-size: 2.5rem;
}

.navigation-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: black;
}

.profile{
    width: 100%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificates{
    width: 100%;
    background-color: #8257e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1370px){
    .header-main-page{
        height: 65rem;
    }

    .header-main-page h1{
        font-size: 5rem;
    }

    .header-main-page p{
        font-size: 2.2rem;
    }
}